/* static/css/estilos.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header, footer {
    background-color: #002b5c;
    color: white;
    text-align: center;
    padding: 10px;
}

.contenedor-principal {
    display: flex;
}

.barra-lateral {
    width: 250px;
    background-color: #e0e0e0;
    padding: 20px;
}

.contenido-principal {
    flex-grow: 1;
    padding: 20px;
}
